.Tres{
    color: var(--TresEnRaya-orangeLetter);
    font-size: 40px;
}

.Tres.en.Rayaheader{
    background-color: var(--TresEnRaya-color-one);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 14px var(--TresEnRaya-purpleLetter);
    padding: 20px 0px;
}

.Tres.en.RayamainPart{
background-color: var(--TresEnRaya-color-two);
height:80vh;
padding: 50px 0px;
display: flex;
justify-content: space-evenly;
align-items: flex-start;
gap: 30px;
}

.Tres.en.Rayafooter{
    background-color: var(--TresEnRaya-color-two);
    border-top: solid 3px var(--TresEnRaya-purpleLetter);
    height: auto;
    padding: 60px 0px;
}

.Tres.en.RayareturnMenu, .resetButtonTresEnRaya, .resetBoardTresEnRaya{
    border-radius: 10px;
    padding: 6px;
    border-color:var(--TresEnRaya-purpleLetter);
    border-width: 5px;
    background-color: var(--TresEnRaya-color-two);
    color: var(--TresEnRaya-purpleLetter);
    font-weight: 900;
    font-size: medium;
}

#gridSection{
    width: 450px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: var(--TresEnRaya-purpleLetter) solid 10px;
}

#gridSection button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sectionButton{
    background-color: white;
  
}

#buttonTresEnRaya{
    border-color: var(--TresEnRaya-purpleLetter);
    border-radius: 5px;
}

.divScoreTresEnRaya{
    min-width: 15%;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-evenly;
}

.scoreTresEnRayaCross{
    font-size: 20px;
    color: var(--TresEnRaya-purpleLetter);
    font-weight: 800;
}
.scoreTresEnRayaCircle{
    font-size: 20px;
    color: var(--TresEnRaya-orangeLetter);
    font-weight: 800;
}

.jugador2 .jugador1 {
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: white;
}

#crossimg, #circleimg{
    width: 115px;
    border: none;
    background-color: white;
}

.blockTile{
    pointer-events: none;
}

@media (max-width: 780px){
    .Tres.en.RayamainPart{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    #gridSection{
        width: 400px;
        height: 400px;
    }
    #crossimg, #circleimg{
        width: 100px;
        border: none;
        background-color: white;
    }
}

@media (max-width: 600px){
    .Tres.en.RayamainPart{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #gridSection{
        width: 350px;
        height: 350px;
    }   
      #crossimg, #circleimg{
          width: 90px;
          border: none;
          background-color: white;
      }
}

@media (max-width: 500px){
 
    #gridSection{
        width: 300px;
        height: 300px;
    }
    #crossimg, #circleimg{
        width: 75px;
        border: none;
        background-color: white;
    }
}

@media (max-width: 426px){
    .Tres.en.RayamainPart{
        padding: 80px 0px;
    }
    #gridSection{
        width: 260px;
        height: 260px;
    }
    .Tres{
        font-size: 30px;
    }
    #crossimg, #circleimg{
        width: 60px;
        border: none;
        background-color: white;
    }
    .Tres.en.RayareturnMenu, .resetButtonTresEnRaya, .resetBoardTresEnRaya{
        font-weight: 600;
        font-size: small;
    }
    .scoreTresEnRayaCross, .scoreTresEnRayaCircle{
        font-size: 16px;
    }
}

@media (max-width: 380px){

   #gridSection{
        width: 200px;
        height: 200px;
}
.Tres{
    padding: 25px 0px;
}
#crossimg, #circleimg{
    width: 50px;
    border: none;
    background-color: white;
}
}

@media (max-width: 260px){
    .Tres.en.RayamainPart{
        padding: 90px 0px;
    }
    #gridSection{
        width: 170px;
        height: 170px;
    }
    .Tres{
        font-size: 20px;
    }
    .Tres.en.RayareturnMenu, .resetButtonTresEnRaya, .resetBoardTresEnRaya{
        font-weight: 600;
        font-size: small;
    }
    #crossimg, #circleimg{
        width: 40px;
        border: none;
        background-color: white;
    }
}